*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  background: #294d5d;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
